/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* Definição das variáveis de cor */
/* Define as variáveis de cor utilizadas na página */
:root {
  --cor-background: #2B2B2B;
  --cor-primaria: #EA2A70;
  --cor-secundaria: #EE558D;
  --cor-bege-rosado: #F6B093;
  --cor-azul-escuro: #3C4E76;
  --cor-branco: #FFFFFF;
  --cor-cinza: #808080;
}

/* Redefinição de estilização da pagina */
/* Remove a margem, padding e define a caixa de conteúdo para todos os elementos da página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  /* Define um cabeçalho com display flex, justificado entre os elementos e alinhado ao centro */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 90vw;
  border-radius: 25px;
  margin: 30px auto;
  background-color: var(--cor-background);
}

body {
  /* Define a fonte e tamanho para o corpo da página */
  font-size: 16px;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  background: var(--cor-secundaria);
}

main {
  /* Define um conteúdo principal com display flex, elementos empilhados verticalmente e centralizados */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  font-size: 1.5rem;
}

/* Estilização de Menu */
.logo img {
  /* Define a altura da imagem da logo */
  height: 60px;
  border-radius: 50%;
}

nav ul {
  /* Define uma lista não ordenada com display flex */
  display: flex;
  list-style: none;
}

nav li {
  /* Define uma margem à direita para os elementos da lista */
  margin-right: 20px;
}

nav a {
  /* Define o estilo para os links de navegação */
  text-decoration: none;
  color: var(--cor-branco);
  font-weight: bold;
  font-size: 16px;
}

nav a:hover {
  /* Define a cor do hover para os links de navegação */
  color: var(--cor-secundaria);
}

/* Estilização da imagem inicial da página */
.imagem {
  /* Define uma posição relativa para a div de imagem */
  position: relative;
}

.imagem img {
  /* Define a largura da imagem para ocupar todo o espaço disponível */
  width: 600px;
  max-width: 80vw;
  border-radius: 25px;
}


/* Estilização do Form de Contatos */
form {
  width: 600px;
  max-width: 80vw;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--cor-cinza-claro);
  border-radius: 5px;
}

/* Estiliza o texto sobre o formulario de contatos */
#texto-contatos {
  text-align: center;
  padding-bottom: 40px;
}

#titulo-contatos {
  color: var(--cor-branco);
}

#descricao-contatos {
  color: var(--cor-background);
  text-align: justify;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  display: block;
  width: 100%;
  max-width: 70vw;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: none;
  background-color: var(--cor-branco);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  resize: none; /* Retira a propriedade de alterar o tamanho da janela de texto */
}

input[type="submit"] {
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  display: block;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  border: none;
  background-color: var(--cor-background);
  color: var(--cor-branco);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="submit"]:hover {
  background-color: var(--cor-bege-rosado);
}

#mensagem {
  margin-bottom: 15px;
}

/* Estilização do Rodapé */
footer {
  margin: 5vh auto 30px auto;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 90vw;
  height: 60px;
  border-radius: 25px;
  background-color: var(--cor-background);
  color: var(--cor-branco);
}

.conteudo-rodape {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

/* Formatação da Footer para aparelhos mobile e tablet */
@media (max-width: 520px) {
  footer {
    height: 80px;
  }

  footer p{
    width: 35vw;
  }
} 